In [64]:
import pandas as pd

In [65]:
### STEP 1 ###
## Build a model for churn prediction

In [66]:
### STEP 2 ###
## Import Data

from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv ('/content/drive/My Drive/AI/churn_prediction.csv')
print (df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
        Row        Id    Surname  Score Nationality  Gender  Age  Tenure  \
0         1  15634602   Hargrave    619      France  Female   42       2
1         2  15647311       Hill    608       Spain  Female   41       1
2         3  15619304       Onio    502      France  Female   42       8
3         4  15701354       Boni    699      France  Female   39       1
4         5  15737888   Mitchell    850       Spain  Female   43       2
...     ...       ...        ...    ...         ...     ...  ...     ...
9995   9996  15606229   Obijiaku    771      France    Male   39       5
9996   9997  15569892  Johnstone    516      France    Male   35      10
9997   9998  15584532        Liu    709      France  Female   36       7
9998   9999  15682355  Sabbatini    772     Germany    Male   42       3
9999  10000  15628319     Walker    792      France  Female   28       4

        Balance  Products  Card  Active     Salary  Exited
0          0.00         1     1       1  101348.88       1
1      83807.86         1     0       1  112542.58       0
2     159660.80         3     1       0  113931.57       1
3          0.00         2     0       0   93826.63       0
4     125510.82         1     1       1   79084.10       0
...         ...       ...   ...     ...        ...     ...
9995       0.00         2     1       0   96270.64       0
9996   57369.61         1     1       1  101699.77       0
9997       0.00         1     0       1   42085.58       1
9998   75075.31         2     1       0   92888.52       1
9999  130142.79         1     1       0   38190.78       0

[10000 rows x 14 columns]

In [67]:
### STEP 3 ###
## Label Data
# The data is already labelded in the dataset.
# Exited is the lable: Exit = 1 means the customer will leave the membership; Exit = 0 means the customer will stay.

In [68]:
### STEP 4 ###
## Extract Features
# Score(Credit score of the members), France(Nationality=France), Spain(Nationality=Spain), Germany(Nationality=Germany)
# Male(Gender=Male), Female(Gender=Female), Age(Age of the members), Tenure(Tenure of the members), 
# Balance(Total bank balance of the members), Products(Product count bought by members), Card(Credit card ownership count of members), 
# Active(Active user, or not), Salary(Annual income of the users)

#Data exploration#
print(df['Nationality'].unique())
print(df['Gender'].unique())

['France' 'Spain' 'Germany']
['Female' 'Male']

In [69]:
#Adjust columns#
df["France"] = [1 if x == "France" else 0 for x in df["Nationality"]]
df["Spain"] = [1 if x == "Spain" else 0 for x in df["Nationality"]]
df["Male"] = [1 if y == "Male" else 0 for y in df["Gender"]]
df.drop(['Row', 'Id', 'Surname', 'Nationality', 'Gender', 'Balance'], axis=1, inplace=True)
print(df)

      Score  Age  Tenure  Products  Card  Active     Salary  Exited  France  \
0       619   42       2         1     1       1  101348.88       1       1
1       608   41       1         1     0       1  112542.58       0       0
2       502   42       8         3     1       0  113931.57       1       1
3       699   39       1         2     0       0   93826.63       0       1
4       850   43       2         1     1       1   79084.10       0       0
...     ...  ...     ...       ...   ...     ...        ...     ...     ...
9995    771   39       5         2     1       0   96270.64       0       1
9996    516   35      10         1     1       1  101699.77       0       1
9997    709   36       7         1     0       1   42085.58       1       1
9998    772   42       3         2     1       0   92888.52       1       0
9999    792   28       4         1     1       0   38190.78       0       1

      Spain  Male
0         0     0
1         1     0
2         0     0
3         0     0
4         1     0
...     ...   ...
9995      0     1
9996      0     1
9997      0     0
9998      0     1
9999      0     0

[10000 rows x 11 columns]

In [70]:
### STEP 5 ###
## Decide on ML algorithm: Logistic Regression
# This is a binary classification problem. Logistic Regression is suitable for this problem.

In [79]:
### STEP 6 ###
## Train the Model

from sklearn.model_selection import train_test_split
import statsmodels.api as sm
Y = df.Exited
X = df.drop(['Exited'], axis=1)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
print(X_test)
print(Y_test)

      Score  Age  Tenure  Products  Card  Active     Salary  France  Spain  \
3380    604   26       3         2     1       0  155248.62       0      1
2221    767   35       6         1     1       0  115566.57       0      0
551     674   47       6         1     1       1    2079.20       0      0
1961    705   24       5         2     0       0   79886.06       0      1
3566    746   25       3         1     0       0   71911.30       0      1
...     ...  ...     ...       ...   ...     ...        ...     ...    ...
8915    606   36       1         1     1       1  192387.51       1      0
9430    753   33       5         2     1       1   82820.85       1      0
959     629   37       6         1     1       1   23971.33       1      0
7457    665   43       2         4     1       0   35640.12       0      0
9039    545   44       1         2     1       1   82614.89       0      1

      Male
3380     0
2221     0
551      1
1961     0
3566     0
...    ...
8915     1
9430     1
959      0
7457     0
9039     0

[2000 rows x 10 columns]
3380    0
2221    1
551     1
1961    0
3566    0
       ..
8915    1
9430    0
959     0
7457    1
9039    0
Name: Exited, Length: 2000, dtype: int64

In [ ]:
#the following code can directly load the training and test data we hand in
X_train=pd.read_csv ('X_train.csv')
X_train.drop(['Unnamed: 0'], axis=1, inplace=True)
X_test=pd.read_csv ('X_test.csv')
X_test.drop(['Unnamed: 0'], axis=1, inplace=True)
Y_train=pd.read_csv ('Y_train.csv')
Y_train.drop(['Unnamed: 0'], axis=1, inplace=True)
Y_test=pd.read_csv ('Y_test.csv')
Y_test.drop(['Unnamed: 0'], axis=1, inplace=True)
print(X_test)
print(Y_test)

In [78]:
import time
start_time = time.time()
log_reg = sm.Logit(Y_train, X_train).fit()

# Report training time
print("--- %s seconds ---" % (time.time() - start_time))

Optimization terminated successfully.
         Current function value: 0.434936
         Iterations 6
--- 0.03034377098083496 seconds ---

In [73]:
## Accuracy of the model

from sklearn.metrics import classification_report
yhat1 = log_reg.predict(X_train)
Y_pred1 = list(map(round, yhat1))
print(classification_report(Y_train, Y_pred1))

              precision    recall  f1-score   support

           0       0.83      0.97      0.89      6391
           1       0.61      0.21      0.32      1609

    accuracy                           0.81      8000
   macro avg       0.72      0.59      0.60      8000
weighted avg       0.79      0.81      0.78      8000

In [74]:
### STEP 7 ###
## Predict Test Accuracy

yhat2 = log_reg.predict(X_test)
Y_pred2 = list(map(round, yhat2))
print(classification_report(Y_test, Y_pred2))

              precision    recall  f1-score   support

           0       0.82      0.96      0.88      1572
           1       0.57      0.21      0.31       428

    accuracy                           0.80      2000
   macro avg       0.70      0.58      0.59      2000
weighted avg       0.76      0.80      0.76      2000

In [75]:
# Report probability

print(yhat2)

9486    0.033341
1499    0.093476
411     0.035559
3509    0.052351
9808    0.299777
          ...
2292    0.028342
3182    0.167354
5904    0.236725
6728    0.123445
7121    0.139609
Length: 2000, dtype: float64

In [63]:
## Save data

X_train.to_csv('/content/drive/My Drive/AI/X_train.csv')
Y_train.to_csv('/content/drive/My Drive/AI/Y_train.csv')
X_test.to_csv('/content/drive/My Drive/AI/X_test.csv')
Y_test.to_csv('/content/drive/My Drive/AI/Y_test.csv')